@media screen and (max-width:840px) {
 .home-screen{
    flex-direction: column;
    gap:1em;
 }
 .home-img{
    height: 12em;
    width: 12em;
 }
 .home-content{
    align-items: center;
 }
}
.home-height{
   height: fit-content;
}
.blob-animation{
   animation: bubble-top-bottom 5s linear infinite;
}
@keyframes bubble-top-bottom {
   0%{border-radius: 25% 75% 25% 75% / 50% 50% 50% 50%  ;}
   25%{border-radius:50% 50% 50% 50% / 50% 50% 50% 50%  ;}
   50%{border-radius: 75% 25% 75% 25% / 50% 50% 50% 50% ;}
   75%{border-radius:50% 50% 50% 50% / 50% 50% 50% 50% ;}
   100%{border-radius: 25% 75% 25% 75% / 50% 50% 50% 50% ;}
}


.type-animation{
      white-space: nowrap;
      overflow: hidden; 
      border-right: .15em solid black;
      width: 19ch;
      animation: typing 4s steps(20, end) infinite;
}
  @keyframes typing {
      0% {
          width: 0;
      }
      50%, 100% {
          width: 19ch;
      }
  }

  /* Buton Hover Effect */
  .btn{
   outline: 3px solid;
   color: #000000;
   padding: 12px 10px;
   border-radius: 10px;
   letter-spacing: 1px;
}
.btn:hover{
   color: #ffffff;
   background: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}